/* Navbar */
.header {
	width: 100%;
}

.nav  {
	right: 70px;
	position: relative;
}

.nav li a {
padding-left: 5px;
padding-right:5px;
}

#logo {
	position:relative;
	left: 30px;
}

/* Story */
.mystory h1 {
	position: relative;
	left: 10px;
}

.story p {
	width: 70%;
	left: 20px;
}

.btn-resume {
	position: relative;
	top: 290px;
	left: 320px;
}

.btn-portfolio {
	position: relative;
	top: 290px;
	left: 320px;
}

#mePhoto {
	left: 40px;
	bottom:80px;
}

/* Process */

.process
{
	height: 550px;
}

.myprocess h1 {
	position: relative;
	right: 0;
	left: 10px;
	bottom: 80px;
}

#uxsvg {
	width: 50%;
	left: 410px;
	bottom: 500px;
}

.details {
	right: 0px;
	left: 10px;
}

.details h2 {
  font-size: 16px;

}


.details p {
    font-size: 14px;
}

/* Work */

.work {
	height: 1120px;
}

.tee {
	right: 0px;
	left: 160px;
	bottom: 70px
}

.bayong {
  left: 160px;
  bottom: 280px;
}

.jof {
  top: 200px;
  left: 160px;
}

.hhh {
  left: 160px;
  bottom: 10px;

}

/* Contact */

.info p {
	width: 50%;
}


#memo {
	top: 60px;
}


/* MOBILE */

@media only screen and (min-width : 320px) and (max-width : 500px) {

/*Navbar */

.nav {
	display: none;
}

.menu-on{
	display: block;
	transition-duration: 0.5s;
}

.menu-on:hover {
	cursor: pointer;
	color:#009dff;
}

.smallbar {
	display: block;
}

/* Story */

.mystory h1 {
	width: 40%;
	position: relative;
	left: 140px;
}

#mePhoto {
	display: none;
}

#circlemePhoto {
	display: block;
	position: relative;
	left: 170px;
	top: 10px;
}

.story p {
	width: 90%;
	left: 25px;
}

.story {
	height: 700px;
}

.btn-resume {
	position: relative;
	top: 440px;
	left: 160px;
}

.btn-portfolio {
	position: relative;
	top: 440px;
	left: 160px;
}

/* Process */

.process {

	height: 900px;
}

.myprocess h1 {
	position: relative;
	right: 0;
	left: 120px;
	bottom: 0px;
	width: 50%

}

.myprocess {

	width: 100%;
}

#uxsvg {
	position: relative;
	width: 80%;
	bottom: 460px;
	left:50px;
}

.details {
	top: 320px;
	right: 0px;
	left: 10px;
	width: 100%;
}

/* Work */

.work {
	height: 1100px;
}

.mywork h1 {
	width: 50%;
	top: 10px;
}

.tee {
	right: 0px;
	left:-10px;
	top: 10px;
	bottom: 0px
}

.bayong {
  left: -10px;
  bottom: 200px;
}

.jof {
  top: 280px;
  left: -10px;
}

.hhh {
  left: -10px;
  bottom: 0px;
  top: 70;

}

/* Contact */

.info i {
	position: relative;
	right: 190px;
}

.info p {
  left: -100px;
  bottom: 45px;
  width: 80%;
}


}

/* Midway Adjustments */

@media only screen and (min-width : 400px) and (max-width : 797px)
{

	.nav {
	display: none;
}

.menu-on{
	display: block;
	transition-duration: 0.5s;
}

.menu-on:hover {
	cursor: pointer;
	color:#009dff;
}

.smallbar {
	display: block;
}

}

